pairs:
- left: local:///home/linuxuser/pictures #uri format: protocol://absolute_path
  right: local:///mnt/part/pictures
  config:
    coversamename: false
    syncdelete: true
    syncrename: true
- left: local://D:/windowsdir/pictures
  right: local://E:/windowsdir/pictures
  config:
    coversamename: false
    syncdelete: true
    syncrename: true
- left: local://D:/windowsdir/pictures
  right: ftp://domain.com/ftpdir/pictures #ftp not yet supported
  config:
    coversamename: false
    syncdelete: true
    syncrename: true
port: "30120"
