[{
	"left": "local://D:/syncfrom",
	"right": "local://E:/syncto",
	"config": {
		"cover_same_name": true,
		"sync_delete": false,
		"sync_rename": false
	}
},
{
	"left": "local:///home/username/syncfrom",
	"right": "local:///mnt/somedevice/syncto",
	"config": {
		"cover_same_name": true,
		"sync_delete": false,
		"sync_rename": false
	}
}
]